{% extends "skeletonSite.html" %}

{% block container %}
<div id="login">
	<h2>{{ state }}</h2>
	<form method="POST" action="/registration/">
		{% csrf_token %}
	
		<table>
			<tr>
			    <td>Login:</td>
			    <td><input type="text" name="username"/> </td>
			</tr>
			<tr>
			    <td>Imię:</td>
			    <td><input type="text" name="name"/> </td>
			</tr>
			<tr>
			    <td>Nazwisko:</td>
			    <td><input type="text" name="surname"/> </td>
			</tr>
			<tr>
			    <td>E-mail:</td>
			    <td><input type="email" name="email" /></td>
			</tr>
			<tr>
			    <td>Hasło:</td>
			    <td><input type="password" name="password" /></td>
			</tr>
			<tr>
			    <td>Opis:</td>
			    <td><input type="text" name="desc" /></td>
			</tr>
		</table>
	
	<input type="submit" value="Zarejestruj" />
	<input type="submit" name="goToLogin" value="Przejdz do logowania" />
	<!-- <input type="hidden" name="next" value="{{ next }}" /> -->
	</form>
</div>
{% endblock %}
