<table>
	{% for user in users %}
	<tr>
		<td>{{label.0}}:</td>
		<td>{{user.userAuth.username}}</td>
	</tr>
	<tr>
		<td>{{label.1}}:</td>
		<td>{{user.userAuth.first_name}}</td>
	</tr>
	<tr>
		<td>{{label.2}}:</td>
		<td>{{user.userAuth.last_name}}</td>
	</tr>
	<tr>
		<td>{{label.3}}:</td>
		<td>{{user.userAuth.email}}</td>
	</tr>
	<tr>
		<td>{{label.4}}:</td>
		<td>{{user.extraInfo}}</td>
	</tr>
	<tr>
		<td>
			------------------------
		</td>
		<td>
			------------------------
		</td>
	</tr>
	{% endfor %}
</table>