{% extends "skeletonSite.html" %}

{% block container %}
			<div id="user_info">
				<table>
					<tr>
						<td>Login:</td>
						<td>{{ login }}</td>
					</tr>
					<tr>
						<td>Name:</td>
						<td>{{ name }}</td>
					</tr>
					<tr>
						<td>Surname:</td>
						<td>{{ surname }}</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>{{ email }}</td>
					</tr>
					<tr>
						<td>Data zalozenia konta:</td>
						<td>{{ creationDate }}</td>
					</tr>
				</table>
			</div>
{% endblock %}
