<div id="calendar">
	<!-- <table id="weekly_calendar">
    <thead>
    <tr>
        <td>Godzina</td>
        <td class="day_col">Poniedzlek</td>
        <td class="day_col">Wtorek</td>
        <td class="day_col">Sroda</td>
        <td class="day_col">Czwartek</td>
        <td class="day_col">Piatek</td>
        <td class="day_col">Sobota</td>
        <td class="day_col">Niedziela</td>
    </tr>
    </thead>
    <tr>
        <td id="time_column"></td>
        <td class="day_col can_has_events" id="day0"></td>
        <td class="day_col can_has_events" id="day1"></td>
        <td class="day_col can_has_events" id="day2"></td>
        <td class="day_col can_has_events" id="day3"></td>
        <td class="day_col can_has_events" id="day4"></td>
        <td class="day_col can_has_events" id="day5"></td>
        <td class="day_col can_has_events" id="day6"></td>
    </tr>
</table> -->
</div>
