/*
 style.css
 PyGanizer

 Created by gauee on 2013-05-14.
 Copyright 2013 gauee. All rights reserved.
 */

html {
	background-color: #ffffff;
}

body {
	background-color: transparent;
	/*width: 1300px;
	 height: 600px;*/
	position: relative;
}

#container {
	width: 1300px;
	height: 600px;
	margin: auto;
	position: relative;
}

header {
	background-color: transparent;
	width: 1300px;
	height: 50px;
	position: absolute;
	left: 0px;
	font-size: 40px;
}

nav {
	background-color: transparent;
	width: 1300px;
	height: 30px;
	position: absolute;
	top: 50px;
	font-variant: small-caps;
	color: #00;
}

#navLeft {
	background-color: transparent;
	width: 400px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#navRight {
	background-color: transparent;
	width: 900px;
	position: absolute;
	left: 400px;
	top: 0px;
}

nav a {
	color: #000000;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
	cursor: pointer;
}

nav ul, nav ul li {
	display: block;
	list-style: none;
	margin: 0 10;
	padding: 0;
}

nav ul li {
	display: inline;
	white-space: nowrap;
}

footer {
	background-color: transparent;
	width: 100%;
	height: 15px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: auto;
	text-align: center;
	font-variant: small-caps;
	padding: 10 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 0 5px 5px #888;
}

#main_container {
	width: 1300px;
	height: 400px;
	top: 80px;
	background-color: transparent;
	position: absolute;
}

#calendar {
    width: 100%;;
	/*width: 300px;
	height: 100px;
	*/
	background-color: #fefd57;
	/*background-image: url('../images/weekView.png');
	background-position: center;
	background-repeat: no-repeat;
	*/
	position: absolute;
	left: 20px;
	display: inline;
	border: 1px solid;
	border-radius: 2px;
	box-shadow: 7px 7px 15px 1px #666;
}

#calendar:hover {
	cursor: pointer;
}

#todo_board {
	width: 40px;
	height: 40px;
	background-color: transparent;
	background-image: url('../images/todoBoard.png');
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	display: inline;
	left: 1100px;
	border: 1px solid;
	border-radius: 2px;
	box-shadow: 7px 7px 15px 1px #666;
}

#todo_board:hover {
	cursor: pointer;
}

#login {
	width: 260px;
	/*height: 400px;*/
	background-color: transparent;
	position: absolute;
	top: 100px;
	left: 490px;
	margin: auto auto;
	display: inline;
	padding: 20px;
	border: 1px solid;
	border-radius: 2px;
	box-shadow: 7px 7px 15px 1px #666;
}

#user_info {
	width: 600px;
	height: 500px;
	background-color: transparent;
	position: absolute;
	top: 80px;
	left: 200px;
	margin: auto auto;
	display: inline;
	padding: 20px;
	border: 1px solid;
	border-radius: 2px;
	box-shadow: 7px 7px 15px 1px #666;
}

#user_info td {
	border: none;
}

#context_info {
	width: 500px;
	height: 15px;
	background-color: #74E463;
	position: absolute;
	top: 10px;
	left: 300px;
	padding: 8px;
	border: 1px solid;
	border-radius: 20px;
	box-shadow: 7px 7px 15px 1px #666;
}

.event{
    background-color: #a6f2ff;
    position: absolute;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    margin: 0;
}

#time_column{
    width: 7%;
}

.day_col{
    width: 150px;
}

.can_has_events {
    border: solid #e7e3e2 1px;
}

#days_table {
    width: 100%;
    margin: 0;
    padding: 0;
}

.time_div{
    height: 25px;
}

#wall{
    width: 100%;
    height: 100%;
    background-color: brown;
}

.note{
    width: 100px;
    height: 100px;
}

#note1{
    background-color: green;
}
#note2{
    background-color: red;
}
#note3{
    background-color: pink;
}
#note4{
    background-color: yellow;
}


#new_event { background-color: red; position:absolute; top: 100px; left: 100px; z-index: 1000;}