{% extends "skeletonSite.html" %}

{% block container %}
<div id="user_info">
	<h3>Wyślij wiadomość do znajomego</h3>
	<form method="POST" action="/send_msg_to_friend/">
		{% csrf_token %}

		<table>
			<tr>
				<td>Odbiorca:</td>
				<td>
				<input type="text" list="friend-id" name="toUser" autocomplete="off" >
				<datalist id="friend-id">
					{% for f in friends %}
					<option value={{ f.userAuth.username }} />
					{% endfor %}
				</datalist></td>
			</tr>
			<tr>
				<td>Tytuł wiadomosci:</td>
				<td>
				<input type="text" name="msg_header" />
				</td>
			</tr>
			<tr>
				<td>Tresc wiadomosci</td>
				<td>
				<textarea name="msg_body" rows="10" cols="30"/>
				</textarea> 
				</td>
			</tr>
		</table>

		<input type="submit" value="Wyślij" />
	</form>
</div>
{% endblock %}

